<h3>Tickets </h3>

<table class="table table-striped w-auto">
  <thead>
    <tr>
      <th>Seat #</th>
      <th>Price</th>
      <th style="text-align: end;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach(ticket => {%>
    <tr class="">
      <td><%= ticket.seat %> </td>
      <td>$<%= ticket.price %> </td>
      <td>
        <form style="text-align: end; margin-right: 12px;" action=<%= `/tickets/${ticket._id}?_method=DELETE`%> method="post">
          <input type="hidden" name="flightId" value=<%= flight._id %>>
          <button class="btn btn-danger ">
            <h6>x</h6>
          </button>
        </form>
      </td>
    </tr>
    <%}); %>
  </tbody>
</table>
<div style="width: 18%; margin-left: 12px;">
  <a class="d-flex mb-4 btn btn-success" href=<%=`/flights/${flight._id}/tickets/new`%>>Add ticket</a>
</div>
