<%- include('../partials/style') %>
<%- include('../partials/nav') %>


    <div class="container text-center">
        <div class="row row-cols-3">
            <% flights.forEach(flight=> {%>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Flight Number: <span>
                                <%= flight.flightNo %>
                            </span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Airline: <span>
                                    <%= flight.airline %>
                                </span></h5>
                            <p class="card-text">Departs: <%= flight.departs.toLocaleDateString('en-us', {
                                    weekday:"long", year:"numeric", month:"short", day:"numeric"}) %>
                            </p>
                            <p class="card-text">
                                Airport: <span>
                                    <%= flight.airport %>
                                </span>
                            </p>
                            <a href="/flights/<%= flight._id %> " class="btn btn-primary">View</a>
                            <a href="/flights/<%= flight._id %> " class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
